<!DOCTYPE html>
<html>
<head>
  <title>BankSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Mb7kynAEq8Nehue4ac1rI-GNYJRMnUg">
    </script>
        <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 44.18, lng: -0.5},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
 <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
<<<<<<< HEAD
          <a class="navbar-brand" href="#"><b>BANKSEARCH</b></a>
        </div>
            <ul class="nav navbar-nav">
               <li><a href="#">Carte</a></li>
        <li class="social pull-right"><a href="#">Liste</a></li>
=======
        <a class="navbar-brand" href="/"><b>BankSearch</b></a>
        </div>
            <ul class="nav navbar-nav">
<% if user_signed_in? %>
               <li><a href="/banks/new">Ajouter une banque</a></li>
<% end %>
        <li class="social pull-right"><%= link_to 'Différentes Banques' , masterbanks_path %></li>
>>>>>>> newAfterMerde
      </ul>

        <div class="navbar-collapse collapse">       
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p></li>           
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<%= yield %>
<div class="container">
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-3">      
      </div>
      <div class="col-lg-3"></div>
    </div><!-- /row -->
    <hr>
    <p class="centered">
      BankSearch 2015  |  Tous droits réservés  | Mentions légales
        </p>
  </div>
</body>
</html>


   